<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Me</title>
</head>
<body>

  <!-- Big Header 1 -->
  <h1>William Liu's Website: All About Me!</h1>

  <!-- Robert H. Smith logo, sized with width and height -->
  <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="300" height="90" alt="Robert H. Smith School of Business logo">

  <!-- Header 2 with an about me section -->
  <h2>About Me:</h2>
  <p>Hello! Thank you for visiting my website. I'm <strong>William Liu</strong>, a <em>senior</em> at the University of Maryland studying Information Systems and OMBA. I have experience working in Python, SQL, R, and HTML. I am interested in pursing a career that connects business and technology. </p>
  <p>I'm always looking for <em>new opportunities</em> to learn, and I believe that <strong>communication and relationship building</strong> are my strongest skills. Please feel free to reach out to me at wwliu@terpmail.umd.edu! </p>

  <!-- Header 2 with my favorite things in a list -->
  <h2>My Favorite Hobbies and Colors</h2>
  <p>Here are a few things I spend my free time doing:</p>
  <ul>
      <li>Solving problems</li>
    <li>Playing sports</li>
    <li>Trying new foods</li>
  </ul>

  <p>Here are my favorite colors, in order of most favorite to least:</p>
  <ol>
    <li>Orange</li>
    <li>Blue</li>
    <li>Red</li>
      <li>Green</li>
      <li>Purple</li>
  </ol>

  <!-- Header 2 with my relevant coursework listed -->
  <h2>My Favorite Information Systems Classes</h2>
  <table>
    <tr>
      <th>Course</th>
      <th>Semester Taken</th>
    </tr>
    <tr>
      <td>BMGT407</td>
      <td>Fall 2026</td>
    </tr>
    <tr>
      <td>BMGT485</td>
      <td>Fall 2026</td>
    </tr>
    <tr>
      <td>BMGT403</td>
      <td>Spring 2026</td>
    </tr>
  </table>

  <!-- Header 2 with my favorite sites -->
  <h2>Links and More</h2>
  <p>Check out my <a href="/hello">hello page</a>.</p>
  <p>Two of my favorite sites are <a href="https://www.instagram.com" target="_blank">Instagram</a> and <a href="https://www.apple.com">Apple</a>. Check them out!</p>

</body>
</html>